%font-bold {
    font-weight: bold;
}

%font-light {
    font-weight: 300;
}

%text-center {
    text-align: center;
}

%text-right {
    text-align: right;
}

%text-left {
    text-align: left;
}

%bg-image {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

%bg-image-repeat {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
}
//**----- IMAGE STYLES -----*//
%image-block {
    display: block;
    width:100%;
    height: auto;
    margin: 0 auto;
}
//**----- BOX MODELS ------*//
%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
%clear,
%clearfix {
    clear: both;
    display: block;
    content:"";
}

%boxed {
    padding: 20px;
    border-radius: 5px;
    background: $white;
    border: 1px solid #dedede;
}

%inline {
    display: inline-block;
}
//**------ GRADIENTS ------**//

//* The Blue Lagoon
%gradient1 {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,  #43C6AC,#191654);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,  #43C6AC,#191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

%gradient2 {
    background: #0b486b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,  #0b486b,#181955);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,  #0b486b,#181955); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

%gradient3 {
    background: #181955; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #181955 0%, #0b486b 52%, #ff7f26 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #181955 0%,#0b486b 52%,#ff7f26 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #181955 0%,#0b486b 52%,#ff7f26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181955', endColorstr='#ff7f26',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


//ANIMATIONS
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


  %blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  %flipInY {
    -webkit-animation: flipInY 5s linear infinite;
    -moz-animation: flipInY 5s linear infinite;
    -ms-animation: flipInY 5s linear infinite;
    -o-animation: flipInY 5s linear infinite;
    animation: flipInY 5s linear infinite;
  }

%rotating {
    -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite;
  }