//* ---- EMERSON COLOR PALETTE --- *//
$green : #00aa7e;
$grey: #f0f0f0;
$white: #fff;
$warmgrey: #c0c0c0;
$coolgrey: #c4ced1;
$bluegrey: #dee6ea;
$textgrey: #808080;
$blue: #7b9baa;
$navy: #004b8d;
$richblack: #2d383f;
$black: #000;
$offblack: #101010;
$red: #d31245;
$pbc: #2d383f;

$gray: #efefef;
//*-- COLOR USED GRADIENTS
$color3: #0b486b;
$color4: #181955;
$color5: #ec511c;
$color6: #ec8f1c;
$blue: #183883;

.color-green {color: $green !important;}
.color-grey {color: $grey !important;}
.color-warmgrey {color: $warmgrey !important;}
.color-white {color: $white !important;}
.color-textgrey {color: $textgrey !important;}
.color-blue {color: $blue !important;}
.color-navy {color: $navy !important;}
.color-richblack {color: $richblack !important;}
.color-black {color: $black !important;}
.color-red {color: $red !important;}
.color-pbc {color: $pbc !important;}

.color3 {color: $color3 !important;}
.color4 {color: $color4 !important;}
.color5 {color: $color5 !important;}
.color6 {color: $color6 !important;}
