﻿@{
    var pathURL = Request.Url.Authority;
    <script>
        var pathURLJS = "https://@pathURL";
        var appURL = "";
        if (pathURLJS.indexOf("proact") >= 1) {
            appURL = pathURLJS + '/onlineschedule';
        } else if (pathURLJS.indexOf("staging") >= 1) {
            appURL = pathURLJS + '/onlineschedule';
        }
        else {
            appURL = pathURLJS;
        }
    </script>
}
<style>
    .rounded-circle {
        height: 3rem;
        width: 3rem;
        position: relative;
        display: inline-block;
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
        border-radius: 50% !important;
    }

    .btnCus-prim-soft {
        color: #009e75 !important;
        background-color: transparent !important;
    }
        .btnCus-prim-soft:hover {
            color: white !important;
            background-color: #009e75 !important;
            width: 200px;
            margin: 25px;
        }
    .btnCus-sec-soft {
        color: #114885 !important;
        background-color: transparent !important;
    }
        .btnCus-sec-soft:hover {
            color: white !important;
            background-color: #114885 !important;
            width: 200px;
            margin: 25px;
        }
.btnCus {
    outline: 0;
}
.textCus-center {
    text-align: center !important;
}
.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
.d-item {
    display: block;
    width: 100%;
    padding: 0.4rem 1.2rem;
    clear: both;
    font-weight: 500;
    color: #676a79;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}



.btnCus-sm, .btnCus-group-sm > .btnCus {
    padding: 0.4rem 0.8rem;
    font-size: 0.8125rem;
    border-radius: 0.2rem;
}
.btnCus {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: #676a79;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    border-radius: 0.4rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
aCus {
    -webkit-transition: all 0.3s ease-in-out!important;
    transition: all 0.3s ease-in-out!important;
}
aCus {
    color: #0f6fec!important;
    text-decoration: none!important;
}
    *, *::before, *::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

</style>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CSAT Survey Sender</title>


    <link href="~/Scripts/external/selectize.js-master/dist/css/selectize.css" rel="stylesheet" />
    <link href="~/Content/css/oneemerson/fonts.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/oneemerson/en-us.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/oneemerson/sass/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/custom/main.css" rel="stylesheet" />


    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/external/datatable/datatables.min.css" rel="stylesheet" />
    <link href="~/Scripts/external/jqueryui/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/external/selectize.js-master/dist/css/selectize.css" rel="stylesheet" />

    <script src="~/Scripts/external/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/external/jqueryui/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/external/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/external/bootbox/bootbox.all.min.js"></script>
    <script src="~/Scripts/external/datatable/datatables.min.js"></script>
    <script src="~/Scripts/external/selectize.js-master/dist/js/standalone/selectize.min.js"></script>
    <script src="~/Scripts/core/components.js"></script>
    <script src="~/Scripts/core/proact-data.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <form runat="server" id="controller">
        <input type="hidden" id="formValidated" value="0" />
    </form>
    <div id="main-wrapper" style="position: relative;">
        <div class="cm-row">
            <header id="cm-header" class="global-header navbar navbar-fixed-top">
                <nav class="utility-nav">
                    @*<ul id="utility-nav-sign" class="horizontal-list">
                            <li id="welcome"><img src="~/Resources/Avatars/@ViewBag.Avatar" class="rounded-circle" height="22" alt="Black and White Portrait of a Man" loading="lazy"> <span id="userName" class="user">@ViewBag.FullName</span></li>
                            <li>@Html.ActionLink("Logout", "Index", "Logout", null, null)</li>
                        </ul>*@
                </nav>
                <nav class="main-header">
                    <div class="main-header-content">
                        <div class="navbar-header">
                            <div class="navbar-brand emerson-logo-box">
                                <a href="/en-us" classbox="" title="" class="emerson-logo__link">
                                    <div class="">
                                        <img class="cm-image emerson-logo__image" src="~/Content/images/emerson-logo-data-404.png" alt="Image of Emerson Logo" title="">
                                    </div>
                                    <span class="cm-visuallyhidden"></span>
                                </a>
                            </div>
                        </div>

                        @if (ViewBag.FullName != "")
                        {
                            <ul class="main-nav list-unstyled" id="main-nav" style="z-index:9999;min-width:500px">
                                <li class="pull-right">
                                    <a class="" href="#" style="font-weight:bolder">Welcome! @ViewBag.FullName &nbsp; <i class="fa fa-gear"></i></a>

                                    <div class="sub-nav commercial-sub-nav collapse" style="min-width:250px">
                                        <div class="mobile-top-link">
                                            <button type="button" class="back btn" aria-label="back"></button>
                                            <a class="" href="#"></a>
                                        </div>
                                        <div class="products;" style="min-height:200px!important">
                                            <h3 class="col-md-3"><img src="~/Resources/Avatars/@ViewBag.Avatar" class="rounded-circle" height="22" alt="Black and White Portrait of a Man" loading="lazy"></h3>
                                            <h3 class="col-md-9">
                                                <span id="userName" class="user" style="font-weight:bolder">@ViewBag.FullName</span>
                                                <br>
                                                <span style="font-size:10px;color:grey">@ViewBag.Title</span>
                                            </h3>
                                           
                                            <br />
                                            <aCus class="d-item btnCus btnCus-prim-soft btnCus-sm my-2 textCus-center" href="#" id="btnChangeGroup"><i class="fa fa-wrench"></i>&nbsp;<span style="font-weight:bold">Change Group</span></aCus>
                                            <aCus class="d-item btnCus btnCus-sec-soft btnCus-sm my-2 textCus-center" href="/logout" onclick="logmeOut()"><i class="fa fa-power-off"></i>&nbsp; <span style="font-weight:bold">Logout</span></aCus>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        }
                    </div>
                </nav>
            </header>
        </div>

        <main id="main">
            <div id="alertBox"></div>

            @RenderBody()

        </main>

        <footer>
            <div class="padded-container">
                <h3 class="font15 margin-btm-25">Emerson. Consider It Solved.™</h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-6" role="navigation">
                        <div class="font89 e-copyright">©<span id="yearStamp">2017</span> Emerson Electric Co. All rights reserved.</div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <ul class="sub-nav horizontal-list font89" role="navigation">
                            <li><a class="" href="http://www.emerson.com/en-us/privacy-notice" target="_blank">Privacy Notice</a></li>
                            <li><a class="" href="http://www.emerson.com/en-us/sitemap" target="_blank">Sitemap</a></li>
                            <li><a class="" href="http://www.emerson.com/en-us/terms-of-use" target="_blank">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <div id="preLoader">
            <div class="preLoaderIconHolder">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    @{ if (@ViewBag.CurrentPage != null)
        {
            <script>
                $('li[data-page="@ViewBag.CurrentPage"]').addClass('active');

            </script>
        }
    }
    <script>
        function logmeOut()
        {
            window.location.href = "/logout";
        }
    </script>
</body>
</html>
