﻿<style>
    .modal-header {
        border-bottom: none;
        padding: 15px 15px 0 15px;
        height: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        /*font-size: 22px;*/
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
<div class="modal" id="Editform-modal">
    <div class="modal" role="dialog">
        <div class="modal-dialog modal" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-image: url(@ViewBag.ModalHeader);">
                    @*<h5 class="modal-title" id=""></h5>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="detailsHTML">
                        <br />
                        <label for='customerEmail'>Email Address:</label>
                        <input type="hidden" id="txtID" class="form-control " />
                        <input type="email" class='full-width' placeholder="Enter Email" name="userEmail" id="txtEmail" disabled>
                        <br />
                        <br />
                        <label for='scheduleShift'>Select Group:</label>
                        <select required class='full-width' name="Group" id="txtGroup">
                            <option value='1'>Inside Sales</option>
                            <option value='2'>Customer Service</option>
                            <option value='3'>ProAct</option>
                            <option value='4'>AES</option>
                            <option value='5'>Technical Support</option>
                            <option value='6'>Customer Success</option>
                            <option value='7'>Data Analytics</option>
                            <option value='8'>Field Project Services</option>
                        </select>
                        <br />
                        <br />
                        <div class='cta-buttons' style='margin-top: 25px;'>
                            <a class='btn btn-primary btn-arrow' href='#' id="_btnSaveUserGroup">
                                <span><span class='text-wrapper'>Save</span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function editors(userID, email, groupID) {
        $("#txtID").val(userID).change();
        $("#txtEmail").val(email).change();
        $("#txtGroup").val(groupID).change();
    }
    $(document).ready(function () {
        $("#_btnSaveUserGroup").click(function () {
            var userID = $("#txtID").val();
            var groupID = $("#txtGroup").val();
            console.log(userID);
            console.log(groupID);
            jQuery.ajax({
                type: "post"
                    , url: urlUpdateGroupInfo
                    , data: JSON.stringify({ 'userID': userID, 'groupID': groupID })
                    , contentType: "application/json; charset=UTF-8"
                    , beforeSend: function () { $('#preLoader').show(); }
                    , error: ''
                    , success: function (response) {
                        $('#editGroupInfo-modal').modal('toggle');
                        loadAdminUserList();
                        $('#preLoader').hide();
                        if (response.data.isSuccess) {
                            MAIN.plugins.alertBox(1, response.data.Message);
                        } else {
                            MAIN.plugins.alertBox(0, response.data.Message);
                        }
                    }
            });
        });
    });
</script>