﻿<style>
      .modal-header {
        border-bottom: none;
        padding: 15px 15px 0 15px;
        height: 150px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        /*font-size: 22px;*/
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>

<div class="modal" id="Editform-modal">
    <div class="modal" role="dialog">
        <div class="modal-dialog modal" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-image: url(@ViewBag.ModalHeader);">
                    @*<h5 class="modal-title" id=""></h5>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
                    <div id="detailsHTML">
                        <br />
                        <br />
                        <label for='_dateStart'>Select Parameter</label>
                        <select id="selectParam">
                            <option value="0" selected>-Select Param-</option>
                            <option value="1">Monthly</option>
                            <option value="2">Quarterly</option>
                            <option value="3">Fiscal Year</option>
                        </select>

                        <div id="monthlyParam">
                            <select id="months">
                                <option value="0" selected>-Select Month-</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                        </div>
                        <div id="quarterlyParam">
                            <select id="quarter">
                                <option value="0" selected>-Select Quarter-</option>
                                <option value="1">Quarter 1</option>
                                <option value="2">Quarter 2</option>
                                <option value="3">Quarter 3</option>
                                <option value="4">Quarter 4</option>
                            </select>
                        </div>

                        <select id="year">
                            <option value="0">-Select Year-</option>
                        </select>
                        <div class='cta-buttons' style='margin-top: 25px;'>
                            <a class='btn btn-primary btn-arrow' href='#' id="_btnAddSlot" onclick="generateServiceRecoveryReport()">
                                <span><span class='text-wrapper'>Generate Report</span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#monthlyParam').hide();
    $('#quarterlyParam').hide();
    var paramType = 0;

    var _options = "";
    for (x = -2; x < 2; x++) {
        var _y = new Date().getFullYear() + x
        _options += "<option value='" + _y + "'>" + _y + "</option>";
    }
    $('#year').append(_options);

    $('#selectParam').on('change', function () {
        paramType = this.value;

        if (this.value === "1") {
            $('#monthlyParam').show();
            $('#quarterlyParam').hide();
        }
        else if (this.value === "2") {
            $('#monthlyParam').hide();
            $('#quarterlyParam').show();
        }
        else {
            $('#monthlyParam').hide();
            $('#quarterlyParam').hide();
        }
    })

   
</script>



