﻿@model IEnumerable<MVCApp.Models.ServiceRecoveryList>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    /* Zebra striping */
    tr:nth-of-type(odd) {
        background: #eee;
    }

    th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    td, th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    th {
        position: sticky;
        top: 0;
    }

    #table-wrapper {
        position: relative;
    }

    #table-scroll {
        height: 200px;
        overflow: auto;
    }

    #table-wrapper table {
        width: 100%;
    }

        #table-wrapper table thead th .text {
            position: absolute;
            top: -20px;
            z-index: 2;
            height: 20px;
            width: 35%;
            border: 1px solid red;
        }
</style>
<div>
    <div class="table table-responsive">
        <div class="table-header"></div>
        <div id="table-wrapper">
            <div id="table-scroll">
                <table class="cell-border">
                    <thead>
                        <tr>
                            <th>Date Received</th>
                            <th>Customer</th>
                            <th>Contact Name</th>
                            <th>Detractor</th>
                            <th>Issue Raised</th>
                            <th>Approved Callback/Service Recovery</th>
                            <th>SR Attempt Made?</th>
                            <th>Contact Date</th>
                            <th>Contacted By</th>
                            <th>Successful Contact?</th>
                            <th>Is There Effort?</th>
                            <th>Resolution</th>
                            <th>Within Target?</th>

                            <th style="text-align:center;" colspan="2">Action</th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.DateReceived
                                </td>
                                <td>
                                    @item.Customer
                                </td>
                                <td>
                                    @item.ContactName
                                </td>
                                <td>
                                    @item.Detractor
                                </td>
                                <td>
                                    @item.IssueRaised
                                </td>
                                <td>
                                    @item.IsApprovedCallBackService
                                </td>
                                <td>
                                    @item.ServiceRecoveryAttemptMade
                                </td>
                                <td>
                                    @item.DateOfContact
                                </td>
                                <td>
                                    @item.ContactedBy
                                </td>
                                <td>
                                    @item.SuccessfulAttemptContact
                                </td>
                                <td>
                                    @item.IsThereEffort
                                </td>
                                <td>
                                    @item.Resolution
                                </td>
                                <td>
                                    @item.ServiceRecoveryWithinTarget
                                </td>
                                <td>
                                    <button class="button-15" style="background-image: linear-gradient(orange, red);border: red;" onclick="getServiceRecovery(@item.ID)" role="button">Edit</button>
                                </td>
                                <td>
                                    <button class="button-15" style="background-image: linear-gradient(green, green);border: red;" onclick="deleteServiceRecovery(@item.ID)" role="button">Remove</button>
                                </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
