﻿@model IEnumerable<MVCApp.Models.UnsubscribedCustomerViewModel>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    /* Zebra striping */
    tr:nth-of-type(odd) {
        background: #eee;
    }

    th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    td, th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    th {
        position: sticky;
        top: 0;
    }

    #table-wrapper {
        position: relative;
    }

    #table-scroll {
        height: 200px;
        overflow: auto;
    }

    #table-wrapper table {
        width: 100%;
    }

        #table-wrapper table thead th .text {
            position: absolute;
            top: -20px;
            z-index: 2;
            height: 20px;
            width: 35%;
            border: 1px solid red;
        }
</style>
<div>
    <div class="table table-responsive">
        <div class="table-header"></div>
        <div id="table-wrapper">
            <div id="table-scroll">
                <table class="cell-border">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Customer Email</th>
                            <th>Date Unsubscribed</th>
                            <th>Unsubscribed By</th>
                            @if (ViewBag.RoleID == 1)
                            {
                                <th>Action</th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.CustomerName
                                </td>
                                <td>
                                    @item.CustomerEmail
                                </td>
                                <td>
                                    @item.DateUnsubscribed.ToString("MM/dd/yyyy")
                                </td>
                                <td>
                                    @string.Format("{0} - {1}", item.UnsubscribedByUserName.Split('@')[0], item.SentByGroup)
                                </td>

                                @if (ViewBag.RoleID == 1)
                                {
                                    <td>

                                        <button class="button-15" onclick="removeUnsubscription(@item.CustomerSurveyID)" role="button">Subscribe</button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

