﻿@model MVCModels.Custom2IPrincipal
@{

    ViewBag.CurrentPage = "Home";
    // MVCModels.Custom2IPrincipal customUser = User as MVCModels.Custom2IPrincipal;
    if (ViewBag.RoleID == 1)
    {
        <script>
            var _datatitle = "data-title";
            var _datadetails = "data-details";
        </script>
    }
    else
    {
        <script>
            var _datatitle = "";
            var _datadetails = "";
        </script>
    }

}
<style>
    input[type=text], input[type=date],select,textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
    }
        input[type=text]:focus, input[type=date]:focus,select:focus,textarea:focus {
            border: 1px solid #555;
        }

    .modal-backdrop {
        /* bug fix - no overlay */
        display: none;
    }

    .modal {
        /* bug fix - custom overlay */
        background-color: rgba(10,10,10,0.45);
    }

    .data-remarks {
        max-height: 40px;
        display: block;
        overflow: hidden;
        font-size: 12px;
    }

    #enrollees_wrapper,
    #BAMRAMCriteria_wrapper {
        overflow: auto;
    }

        #BAMRAMCriteria_wrapper .w44,
        #enrollees_wrapper .w44 {
            width: 57px;
        }

    #alertBox {
        position: fixed;
        top: 105px;
        width: 50%;
        z-index: 9999;
        text-align: center;
        right: 25%;
        background: #FFF;
    }

        #alertBox .alert {
            padding: 10px;
            margin: 0;
        }

            #alertBox .alert.show {
                display: block;
            }

            #alertBox .alert .close {
                right: 0;
            }

            #alertBox .alert:after {
                content: "";
                position: absolute;
                height: 3px;
                -webkit-transition: width 5s ease-in-out;
                -moz-transition: width 5s ease-in-out;
                -o-transition: width 5s ease-in-out;
                transition: width 5s ease-in-out;
                bottom: 0;
                left: 0;
                animation: 5s in-out ease-in;
            }

        #alertBox .alert-success:after {
            background: #00aa7e;
        }

        #alertBox .alert-danger:after {
            background: #a94442;
        }

    @@keyframes in-out {
        0% {
            width: 100%;
        }

        100% {
            width: 0;
        }
    }

    .data-title {
        cursor: pointer;
    }

        .data-title.hover {
            opacity: .8 !important;
        }

    #_partialHolder .cta-buttons .btn:first-child {
        margin-right: 0;
    }

    .schedule_select {
        float: left;
    }

    .schedule_buttons {
        float: right;
        margin-left: 20px;
        text-align: center;
        max-width: 400px;
    }

        .schedule_buttons a {
            font-size: 10px;
            background: #00aa7e;
            color: #FFF;
            margin: 2px;
            display: inline-block;
            padding: 2px 6px;
        }

            .schedule_buttons a:hover {
                background-color: #009e75;
                border-color: #009e75;
            }

    #preLoaderIconHolder {
        text-align: center;
        padding: 25px;
    }

    .withRemarks:after {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        border-bottom: 5px solid transparent;
        border-left: 5px solid transparent;
        border-right: 5px solid red;
        border-top: 5px solid red;
        z-index: 99;
    }
    /* CSS */
    .button-15 {
        background-image: linear-gradient(#42A1EC, #0070C9);
        border: 1px solid #0077CC;
        border-radius: 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        direction: ltr;
        display: block;
        font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -.022em;
        line-height: 1.47059;
        min-width: 30px;
        overflow: visible;
        padding: 4px 15px;
        text-align: center;
        vertical-align: baseline;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
    }

        .button-15:disabled {
            cursor: default;
            opacity: .3;
        }

        .button-15:hover {
            background-image: linear-gradient(#51A9EE, #147BCD);
            border-color: #1482D0;
            text-decoration: none;
        }

        .button-15:active {
            background-image: linear-gradient(#3D94D9, #0067B9);
            border-color: #006DBC;
            outline: none;
        }

        .button-15:focus {
            box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
            outline: none;
        }
</style>
<link href="~/Content/autocomplete.css" rel="stylesheet" />
<div class="H003-mini-hero cm-container--superhero">
    <div class="content-wrapper">
        <div class="image-container">
            <img class="cm-image cm-teasable__picture cm-image--responsive" src="~/content/images/Hero.jpg" alt="H002_heating&amp;ac" title="H002 Placeholder">
        </div>
        <div class="padded-container">

            @if (ViewBag.GroupID == 1)
            {
                <h1>
                    Inside Sales
                </h1>
            }
            else if (ViewBag.GroupID == 2)
            {
                <h1>
                    Customer Service
                </h1>
            }
            else if (ViewBag.GroupID == 3)
            {
                <h1>
                    Monitoring (Lumity Manage Services)
                </h1>
            }
            else if (ViewBag.GroupID == 6)
            {
                <h1>
                    Customer Success
                </h1>
            }
            else if (ViewBag.GroupID == 7)
            {
                <h1>
                    Data Analytics
                </h1>
            }
            else if (ViewBag.GroupID == 8)
            {
                <h1>
                    Field Project Services
                </h1>
            }
            else
            {
                <h1>
                    Application Engineering Services
                </h1>
            }

            <div class="cta-buttons">
                <a class="btn btn-primary btn-arrow" id="btnAddSurvey" href="#">
                    <span>
                        <span class="text-wrapper">Add Entry</span>
                    </span>
                </a>
              
                @if (ViewBag.RoleID == 1)
                {
                    <a class="btn btn-primary btn-arrow" id="btnUnsubCustomer" href="#" style="margin-right: 16px;">
                        <span>
                            <span class="text-wrapper">Unsubscribe Customer</span>
                        </span>
                    </a>
                    <a class="btn btn-primary btn-arrow" id="btnGenerateReport" href="#" style="margin-right: 16px;">
                        <span>
                            <span class="text-wrapper">Generate Report</span>
                        </span>
                    </a>
                    <a class="btn btn-primary btn-arrow" id="btnGenerateSRReport" href="#" style="margin-right: 16px;margin-top:16px">
                        <span>
                            <span class="text-wrapper">Service Recovery Report</span>
                        </span>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="container-fullwidth">
        <div class="C016-horizontal-tabs horizontal-tabs">
            <div class="padded-container">
                <nav class="tabs-header clearfix" id="tabs" style="margin-bottom: 15px;">
                    <ul class="nav navbar-nav">
                        <li><a href="#tabComponent1" data-tab="tabComponent1" class="selected">Survey List</a></li>
                        <li><a href="#tabComponent2" data-tab="tabComponent2" class="">Unsubscribed Customers</a></li>
                        <li><a href="#serviceRecoveryTab" data-tab="serviceRecoveryTab" class="">Service Recovery</a></li>

                        @if (ViewBag.RoleID == 1)
                        {
                            <li><a href="#tabComponent3" data-tab="tabComponent3" class="">Admin List</a></li>

                            <li><a href="#tabComponent3" data-tab="tabComponent4" class="">User List</a></li>
                        }
                    </ul>
                </nav>
                <div id="tabComponent1" class="tab-content" style="display: block;">
                    <div>
                        <div class="padded-container">
                            <div class="form-group">
                                <div class="form-horizontal" @*style="padding-left: 10px;"*@>
                                    <input type="date" name="..."
                                           class="form-control"
                                           id="dateSelected"
                                           style="width:280px;max-width:280px;display:inline-block" />
                                    <button onclick="reloadSurveyList()" type="submit"
                                            class="btn btn-primary btn-arrow"
                                            style="margin-left:-8px;margin-top:-2px;min-height:36px;">
                                        Search Date
                                    </button>
                                    <button onclick="sendSurveyForAll()" type="submit"
                                            class="btn btn-primary btn-arrow pull-right"
                                            style="margin-left:-8px;margin-top:-2px;min-height:36px;">
                                        Send All Saved
                                    </button>
                                </div>
                            </div>
                            <div class="p1" id="_surveyListContainer">
                                @Html.Action("ListSurveyPartial", "Home")
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tabComponent2" class="tab-content" style="display: none;">
                    <div>
                        <div class="padded-container">
                            <div class="form-group">
                                <div class="form-horizontal" @*style="padding-left: 10px;"*@>
                                    <div class="autocomplete">
                                        <input placeholder="Search Customer Email" type="text" name="..."
                                               class="form-control"
                                               id="customerSelected"
                                               style="width:280px;max-width:280px;display:inline-block" />
                                    </div>
                                    <button onclick="loadUnsubscribeCustomer()" type="submit"
                                            class="btn btn-primary btn-arrow"
                                            style="margin-left:-3px;margin-top:-1px;min-height:36px;">
                                        Search
                                    </button>
                                </div>
                            </div>

                            <div class="p1" id="_surveySubscriptionContainer">
                                @Html.Action("ListSurveySubscription", "Home")
                            </div>
                        </div>
                    </div>
                </div>
                <div id="serviceRecoveryTab" class="tab-content" style="display: none;">
                    <div>
                        <div class="padded-container">
                            <div class="form-group">
                                <div class="form-horizontal" @*style="padding-left: 10px;"*@>
                                    @*<input type="date" name="..."
                                           class="form-control"
                                           id="dateSelected"
                                           style="width:280px;max-width:280px;display:inline-block" />
                                    <button onclick="reloadSurveyList()" type="submit"
                                            class="btn btn-primary btn-arrow"
                                            style="margin-left:-8px;margin-top:-2px;min-height:36px;">
                                        Search Date
                                    </button>*@
                                    <button id="btnServiceRecovery" type="submit"
                                            class="btn btn-primary btn-arrow pull-right"
                                           style="margin-left:-8px;margin-top:-2px;min-height:36px;">
                                       Add Service Recovery
                                    </button>
                                </div>
                                <br />
                                <br />
                                <br />
                            </div>
                            <div class="p1" id="_serviceRecoveryListContainer">
                                @Html.Action("ServiceRecoveryListPartial", "Home")
                            </div>
                        </div>
                    </div>
                </div>
                @if (ViewBag.RoleID == 1)
                {
                    <div id="tabComponent3" class="tab-content" style="display: none;">
                        <div>
                            <div class="padded-container">
                                <div class="form-group">
                                    <div class="form-horizontal" @*style="padding-left: 10px;"*@>
                                        <div class="autocomplete">
                                            <input placeholder="Search Admin" type="text" name="..."
                                                   class="form-control"
                                                   id="adminSelected"
                                                   style="width:280px;max-width:280px;display:inline-block" />
                                        </div>
                                        <button onclick="searchAdminList()" type="submit"
                                                class="btn btn-primary btn-arrow"
                                                style="margin-left:-3px;margin-top:-1px;min-height:36px;">
                                            Search
                                        </button>


                                    </div>
                                </div>

                                <div class="p1" id="_surveyAdminContainer">
                                    @Html.Action("AdminListPartial", "Home")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabComponent4" class="tab-content" style="display: none;">
                        <div>
                            <div class="padded-container">
                                <div class="form-group">
                                    <div class="form-horizontal" @*style="padding-left: 10px;"*@>
                                        <div class="autocomplete">
                                            <input placeholder="Search User" type="text" name="..."
                                                   class="form-control"
                                                   id="userSelected"
                                                   style="width:280px;max-width:280px;display:inline-block" />
                                        </div>
                                        <button onclick="searchUserList()" type="submit"
                                                class="btn btn-primary btn-arrow"
                                                style="margin-left:-3px;margin-top:-1px;min-height:36px;">
                                            Search
                                        </button>
                                        <button onclick="" id="btnAddUserAdmin" type="submit"
                                                class="btn btn-primary btn-arrow pull-right"
                                                style="margin-left:-8px;margin-top:-2px;min-height:36px;">
                                            Add User
                                        </button>
                                    </div>
                                </div>

                                <div class="p1" id="_surveyUserContainer">
                                    @Html.Action("UserListPartial", "Home")
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="form-modal" class="modal-sm"></div>
    <div id="generatereport-modal"></div>
    <div id="divPartialContent" class="tab-content"></div>
</div>
<script src="~/Scripts/external/jquery/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/external/bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/external/datatable/datatables.min.js"></script>
<link href="~/Scripts/external/jqueryui/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/external/jqueryui/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="~/Scripts/external/selectize.js-master/dist/js/standalone/selectize.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/page/home/serviceRecovery.js"></script>
<script>
    var urlSendSurveyEntry = "@Url.Content("~/Home/SaveSurvey")";
    var urlSendSurveyRemove = "@Url.Content("~/Home/RemoveSendSurvey")";
    var urlSendAllSurveyAll = "@Url.Content("~/Home/SendAllSavedEmails")";
    var urlSaveUnsubscription = "@Url.Content("~/Home/UnsubscribedToSurvey")";
    var urlSaveSubscription = "@Url.Content("~/Home/SubscribedToSurvey")";
    var urlListUnSubs = "@Url.Content("~/Home/ListUnSubscribedCustomers")";
    var urlGenerateReport = "@Url.Content("~/Home/GenerateReport")";
    var urlGenerateReport2 = "@Url.Content("~/Home/GenerateSpreadSheet")";
    var urlGenerateReport_ServiceRecovery = "@Url.Content("~/Home/GenerateSRSpreadSheet")";

    var urlUpdateUserGroup = "@Url.Content("~/Home/UpdateUserGroup")";
    var urlSaveAdminUser = "@Url.Content("~/Home/SaveAdminUser")";
    var urlManageAdminUser = "@Url.Content("~/Home/manageAdminUser")";
    var urlSearchUserList = "@Url.Content("~/Home/ListUsers")";
    var urlSearchAdminList = "@Url.Content("~/Home/ListAdmins")";
    var urlServiceRecoveryModalFormPartial = "@Url.Content("~/Home/ServiceRecovery")"
    var urlAddUserAdminFormPartial = "@Url.Content("~/Home/EditGroupInfoFormPartial")";
    var urlUpdateGroupInfo = "@Url.Content("~/Home/UpdateUserGroupInfo")";
    var urlAddServiceRecovery = "@Url.Content("~/Home/AddServiceRecovery")";
    var urlUpdateServiceRecovery = "@Url.Content("~/Home/UpdateServiceRecovery")";
    var urlDeleteServiceRecovery = "@Url.Content("~/Home/DeleteServiceRecovery")";

    $(document).ready(function () {
        $('#preLoader').hide();
        //console.log(@ViewBag.GetUnsubscribedCustomer);

        getListOfUnSubscribedCustomer();
        disabledFields();
    });


    function getListOfUnSubscribedCustomer() {
        jQuery.ajax({
            type: "post"
                        , url: urlListUnSubs
                        , contentType: "application/json; charset=UTF-8"
                        , success: function (response) {
                            console.log(response.data);
                            if (response.data.length > 0) {
                                autocomplete(document.getElementById("customerSelected"), response.data);
                            }
                        }
        });
    }

    function loadServiceRecovery(){
        $("#_serviceRecoveryListContainer").load('@Url.Action("ServiceRecoveryListPartial", "Home")');
    }

    function loadUnsubscribeCustomer() {
        $("#_surveySubscriptionContainer").load('@Url.Action("ListSurveySubscription", "Home")?customerSelected=' +  $('#customerSelected').val());
    }

    function getServiceRecovery(serviceRecoveryID) {
        var urlGetServiceRecovery = "@Url.Content("~/Home/EditServiceRecovery")?serviceRecoveryID=" +  serviceRecoveryID;

        MAIN.ajax.ajaxPartialView(urlGetServiceRecovery, '', function (data) { $('#form-modal').html(data).modal('show'); });

    }

    $('#btnAddUserAdmin').on('click', function () {
        var urlAddUserAdminFormPartial = "@Url.Content("~/Home/AddUserAdmin")";

        MAIN.ajax.ajaxPartialView(urlAddUserAdminFormPartial, '', function (data) { $('#form-modal').html(data).modal('show'); });
    });

    $('#btnChangeGroup').on('click', function () {
        var urlChangeGroupFormPartial = "@Url.Content("~/Home/ChangeGroup")";

        MAIN.ajax.ajaxPartialView(urlChangeGroupFormPartial, '', function (data) { $('#form-modal').html(data).modal('show'); });
    });
    $('#btnAddSurvey').on('click', function () {
        var urlAddSlotModalFormPartial = "@Url.Content("~/Home/AddSurveyPartial")";

        MAIN.ajax.ajaxPartialView(urlAddSlotModalFormPartial, '', function (data) { $('#form-modal').html(data).modal('show'); });
    });
    $('#btnServiceRecovery').on('click', function () {
        var urlAddSlotModalFormPartial = "@Url.Content("~/Home/ServiceRecovery")";

        MAIN.ajax.ajaxPartialView(urlServiceRecoveryModalFormPartial, '', function (data) { $('#form-modal').html(data).modal('show'); });
    });

    $('#btnAddAdmin').on('click', function () {
        var urlAddSlotModalFormPartial = "@Url.Content("~/Home/AddAdmin")";

        MAIN.ajax.ajaxPartialView(urlAddSlotModalFormPartial, '', function (data) { $('#form-modal').html(data).modal('show'); });
    });

    $('#btnGenerateReport').on('click', function () {
        var urlOpenGeneratereportPartial = "@Url.Content("~/Home/GenerateReport")";

        MAIN.ajax.ajaxPartialView(urlOpenGeneratereportPartial, '', function (data) { $('#form-modal').html(data).modal('show'); });
    });

    $('#btnGenerateSRReport').on('click', function () {
        var urlOpenGeneratereportPartial = "@Url.Content("~/Home/GenerateServiceRecoveryReport")";

        MAIN.ajax.ajaxPartialView(urlOpenGeneratereportPartial, '', function (data) { $('#form-modal').html(data).modal('show'); });
    });

    $('#btnUnsubCustomer').on('click', function () {
        var urlListUnsubs = "@Url.Content("~/Home/UnsubscribedCustomer")";

        MAIN.ajax.ajaxPartialView(urlListUnsubs, '', function (data) { $('#form-modal').html(data).modal('show'); });
        getListOfUnSubscribedCustomer();
    });

    function generateReport() {
        var dateStart = $("#_dateStart").val();
        var dateEnd = $("#_dateEnd").val();

        var startDate = new Date($('#_dateStart').val());
        var endDate = new Date($('#_dateEnd').val());

        if (startDate > endDate) {
            // Do something
            MAIN.plugins.alertBox(0, "Please Check Date End and Start Date");
        }
        else {
            jQuery.ajax({
                type: "post"
                            , url: urlGenerateReport
                            , data: JSON.stringify({ 'dateStart': dateStart, 'dateEnd': dateEnd })
                            , contentType: "application/json; charset=UTF-8"
                            , beforeSend: function () { $('#preLoader').show(); }
                            , error: ''
                            , success: function (response) {
                                console.log(response);
                                $('#preLoader').hide();

                                if (response.isSuccess) {
                                    var link = document.createElement('a');
                                    link.href = response.result;
                                    link.download = response.result.substr(response.result.lastIndexOf('/') + 1);
                                    link.click();
                                } else {
                                    MAIN.plugins.alertBox(0, "Please Retry Generating the Report");
                                }
                            }
            });
        }
    };

    function generateSpreadSheetReport() {
        var dateStart = $("#_dateStart").val();
        var dateEnd = $("#_dateEnd").val();

        var startDate = new Date($('#_dateStart').val());
        var endDate = new Date($('#_dateEnd').val());

        if (startDate > endDate) {
            // Do something
            MAIN.plugins.alertBox(0, "Please Check Date End and Start Date");
        }
        else {
            jQuery.ajax({
                type: "post"
                            , url: urlGenerateReport2
                            , data: JSON.stringify({ 'dateStart': dateStart, 'dateEnd': dateEnd })
                            , contentType: "application/json; charset=UTF-8"
                            , beforeSend: function () { $('#preLoader').show(); }
                            , error: ''
                            , success: function (response) {
                                console.log(response);
                                $('#preLoader').hide();

                                if (response.isSuccess) {
                                    var link = document.createElement('a');
                                    link.href = response.result;
                                    link.download = response.result.substr(response.result.lastIndexOf('/') + 1);
                                    link.click();
                                } else {
                                    MAIN.plugins.alertBox(0, "Please Retry Generating the Report");
                                }
                            }
            });
        }
    }

    function loadSurveyList() {
        $("#_surveyListContainer").load('@Url.Action("ListSurveyPartial", "Home")');
    }

    function searchUserList(){
        $("#_surveyUserContainer").load('@Url.Action("UserListPartial", "Home")?emailAddress=' + $('#userSelected').val());
    }
    function searchAdminList(){
        $("#_surveyAdminContainer").load('@Url.Action("AdminListPartial", "Home")?emailAddress=' + $('#adminSelected').val());
    }
    function loadAdminUserList() {
        $("#_surveyAdminContainer").load('@Url.Action("AdminListPartial", "Home")?emailAddress=' + "");
        $("#_surveyUserContainer").load('@Url.Action("UserListPartial", "Home")?emailAddress=' + "");
    }

    function reloadSurveyList() {
        var dateSelected = document.getElementById("dateSelected").value;
        $("#_surveyListContainer").load('@Url.Action("ListSurveyPartial", "Home")?dateSelected=' + dateSelected);
    }

    function saveUnsubscription() {
        var custName = $('#customerName').val();
        var custEmail = $('#customerEmail').val();
        debugger;

        if (custEmail != '') {
            jQuery.ajax({
                type: "post"
                        , url: urlSaveUnsubscription
                        , data: JSON.stringify({ 'customerName': custName, 'customerEmail': custEmail })
                        , contentType: "application/json; charset=UTF-8"
                        , beforeSend: function () { $('#preLoader').show(); }
                        , error: ''
                        , success: function (response) {
                            loadUnsubscribeCustomer();

                            $('#tabs a[href="#tabComponent2"]')[0].click();

                            $('#form-modal').modal('toggle');

                            $('#preLoader').hide();
                            console.log(response);

                            if (response.data.isSuccess == 0) {
                                MAIN.plugins.alertBox(0, response.data.Message);
                            } else {
                                MAIN.plugins.alertBox(1, response.data.Message);
                            }
                        }
            });
        } else {
            MAIN.plugins.alertBox(0, "Nothing to save!");
        }
    }

    function removeUnsubscription(customerSurveyID) {

        jQuery.ajax({
            type: "post"
                    , url: urlSaveSubscription
                    , data: JSON.stringify({ 'subscriptionID': customerSurveyID })
                    , contentType: "application/json; charset=UTF-8"
                    , beforeSend: function () { $('#preLoader').show(); }
                    , error: ''
                    , success: function (response) {
                        loadUnsubscribeCustomer();
                        getListOfUnSubscribedCustomer();
                        $('#preLoader').hide();

                        if (response.data.isSuccess == 0) {
                            MAIN.plugins.alertBox(0, response.data.Message);

                        } else {
                            MAIN.plugins.alertBox(1, response.data.Message);
                        }
                    }
        });
    }
    function removeSendSurvey(surveyID) {

        jQuery.ajax({
            type: "post"
                    , url: urlSendSurveyRemove
                    , data: JSON.stringify({ 'surveyID': surveyID })
                    , contentType: "application/json; charset=UTF-8"
                    , beforeSend: function () { $('#preLoader').show(); }
                    , error: ''
                    , success: function (response) {
                        loadSurveyList();

                        $('#preLoader').hide();

                        if (response.data.isSuccess == 0) {
                            MAIN.plugins.alertBox(0, response.data.Message);
                        } else {
                            MAIN.plugins.alertBox(1, response.data.Message);
                        }
                    }
        });
    }

    function saveSurveyEntry() {
        var custEmail = $('#customerEmail').val();
        var subjectLine = $('#subjectLine').val();
        var sendImmediately = document.getElementById('sendImmediately').checked;
        //string customerEmail, string subjLine, bool sendImmediately)

        if (custEmail != '' || subjectLine != '') {
            jQuery.ajax({
                type: "post"
                        , url: urlSendSurveyEntry
                        , data: JSON.stringify({ 'customerEmail': custEmail, 'subjLine': subjectLine, 'sendImmediately': sendImmediately })
                        , contentType: "application/json; charset=UTF-8"
                        , beforeSend: function () { $('#preLoader').show(); }
                        , error: ''
                        , success: function (response) {
                            loadSurveyList();

                            $('#tabs a[href="#tabComponent1"]')[0].click();
                            $('#form-modal').modal('toggle');

                            $('#preLoader').hide();
                            console.log(response);

                            if (response.data.isSuccess) {
                                MAIN.plugins.alertBox(1, response.data.Message);
                            } else {
                                MAIN.plugins.alertBox(0, response.data.Message);
                            }
                        }
            });
        } else {
            MAIN.plugins.alertBox(0, "Nothing to save!");
        }
    }

    function sendSurveyForAll() {
        var dateSelected = document.getElementById("dateSelected").value;

        jQuery.ajax({
            type: "post"
                    , url: urlSendAllSurveyAll + "?dateSelected=" + dateSelected
                    , beforeSend: function () { $('#preLoader').show(); }
                    , error: ''
                    , success: function (response) {
                        loadSurveyList();

                        $('#preLoader').hide();
                        console.log(response);

                        if (response.data == true) {
                            MAIN.plugins.alertBox(1, response.message);
                        } else {
                            MAIN.plugins.alertBox(0, '1 or more Email(s) failed to send');
                        }
                    }
        });
    }

    function saveSurveyUserAdmin() {
        var userEmail = $('#userEmail').val();
        var groupID = $('#txtGroup').val();
        var isAdmin = document.getElementById('setAsAdmin').checked;
        if (userEmail != '') {
            jQuery.ajax({
                type: "post"
                        , url: urlSaveAdminUser
                        , data: JSON.stringify({ 'emailAddress': userEmail, 'isAdmin': isAdmin, 'groupID': groupID })
                        , contentType: "application/json; charset=UTF-8"
                        , beforeSend: function () { $('#preLoader').show(); }
                        , error: ''
                        , success: function (response) {
                            loadSurveyList();

                            $('#tabs a[href="#tabComponent1"]')[0].click();
                            $('#form-modal').modal('toggle');

                            $('#preLoader').hide();
                            console.log(response);

                            if (response.data.isSuccess) {
                                MAIN.plugins.alertBox(1, response.data.Message);
                            } else {
                                MAIN.plugins.alertBox(0, response.data.Message);
                            }
                        }
            });
        } else {
            MAIN.plugins.alertBox(0, "Nothing to save!");
        }
    }

    function manageUserAdmin(action, userID) {

        jQuery.ajax({
            type: "post"
                    , url: urlManageAdminUser
                    , data: JSON.stringify({ 'action': action, 'userID': userID })
                    , contentType: "application/json; charset=UTF-8"
                    , beforeSend: function () { $('#preLoader').show(); }
                    , error: ''
                    , success: function (response) {

                        //$('#form-modal').modal('toggle');
                        loadAdminUserList();
                        $('#preLoader').hide();
                        console.log(response);

                        if (response.data.isSuccess) {
                            MAIN.plugins.alertBox(1, response.data.Message);
                        } else {
                            MAIN.plugins.alertBox(0, response.data.Message);
                        }
                    }
        });

    }


    function updateGroup() {
        var userID = @ViewBag.UserID;
        var selectedGroup = $('#txtGroup').val();
        var currentGroupID = @ViewBag.GroupID;

        if (selectedGroup != currentGroupID) {
            jQuery.ajax({
                type: "post"
                        , url: urlUpdateUserGroup
                        , data: JSON.stringify({ 'userID': userID, 'selectedGroup': selectedGroup})
                        , contentType: "application/json; charset=UTF-8"
                        , beforeSend: function () { $('#preLoader').show(); }
                        , error: ''
                        , success: function (response) {

                            $('#form-modal').modal('toggle');

                            $('#preLoader').hide();
                            console.log(response);

                            if (response.isSuccess) {
                                MAIN.plugins.alertBox(1, response.response + ", you will be logged out to apply the changes." );
                                setInterval(function () {
                                    logmeOut()
                                }, 5000);

                            } else {
                                MAIN.plugins.alertBox(0, response.response);
                            }
                        }
            });
        } else {
            MAIN.plugins.alertBox(0, "Nothing to updated!");
        }
    }
    function generateServiceRecoveryReport() {

        var obj = new Object();
        var year = parseInt(document.getElementById("year").options[document.getElementById("year").selectedIndex].value);
        var month = parseInt(document.getElementById("months").options[document.getElementById("months").selectedIndex].value);
        var quarter = parseInt(document.getElementById("quarter").options[document.getElementById("quarter").selectedIndex].value);

        if (paramType === 0) {
            MAIN.plugins.alertBox(0, "Please Check Parameters");
            return;
        }
        else {
            if (paramType === "1") {
                if (month === 0 && year === 0) {
                    MAIN.plugins.alertBox(0, "Please Check Month and Year");
                    return;
                }

                if (month === 0) {
                    MAIN.plugins.alertBox(0, "Please Check Month");
                    return;
                }

                if (year === 0) {
                    MAIN.plugins.alertBox(0, "Please Check Year");
                    return;
                }
            }
            else if (paramType === "2") {
                if (quarter === 0 || year === 0) {
                    MAIN.plugins.alertBox(0, "Please Check Quarter or Year");
                    return;
                }
                if (quarter === 0) {
                    MAIN.plugins.alertBox(0, "Please Check Quarter");
                    return;
                }
                if (year === 0) {
                    MAIN.plugins.alertBox(0, "Please Check Year");
                    return;
                }
            }
            else {
                if (year === 0) {
                    MAIN.plugins.alertBox(0, "Please Check Year");
                    return;
                }
            }
        }

        obj.paramType = paramType;
        obj.month = month;
        obj.year = year;
        obj.quarter = quarter


        jQuery.ajax({
            type: "post"
                        , url: urlGenerateReport_ServiceRecovery
                        , data: JSON.stringify(obj)
                        , contentType: "application/json; charset=UTF-8"
                        , beforeSend: function () { $('#preLoader').show(); }
                        , error: ''
                        , success: function (response) {
                            console.log(response);
                            $('#preLoader').hide();

                            if (response.isSuccess) {
                                var link = document.createElement('a');
                                link.href = response.result;
                                link.download = response.result.substr(response.result.lastIndexOf('/') + 1);
                                link.click();
                            } else {
                                MAIN.plugins.alertBox(0, "Please Retry Generating the Report");
                            }
                        }
        });
    }
    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    function editGroupInfo(userID, email, groupid){
        //console.log(userID);
        //console.log(email);
        //console.log(groupid);
        MAIN.ajax.ajaxPartialView(urlAddUserAdminFormPartial, '', function (data) { $('#editGroupInfo-modal').html(data).modal('show'); editors(userID, email, groupid);});
    }

</script>
<div id="editForm-modal"></div>
<div id="editGroupInfo-modal"></div>
