﻿@{
    MVCModels.Custom2IPrincipal customUser = User as MVCModels.Custom2IPrincipal;
}

<style>
    #preLoader {
        display: none !important;
    }
</style>
<div>
    <div class="login-background" id="pageContent">
        @{ Html.RenderPartial("SignIn"); }


    </div>
</div>
<script>
    $('#main').addClass("login");
</script>


<script>
        var landingPageURL = "@Url.Content("~/Home/Index")";
        var landingPageURLMontech = "@Url.Content("~/Home/Index")";
        var signInURL = "@Url.Content("~/Login/SignIn")";
        var signUpURL = "@Url.Content("~/Login/SignUp")";
        var loginURL = "@Url.Content("~/Login/Login")";
        var isPageBeingRefreshed = false;

        $(window).on('beforeunload', function () {
            isPageBeingRefreshed = true;
        });
        $('#welcome').remove();
        function loadSignIn(url) {
            $.ajax({
                url: url,
                success: function (data) {
                    document.title = "Sign In - MVC Template";
                    $('#pageContent').html(data);
                },
                error: function () {
                    if (!isPageBeingRefreshed) {
                        initReusableModal("Error! ", 'Failed to get partial.', false, false, undefined, undefined, undefined);
                    }
                }
            });
        }


$('#validationFail').hide();
$('#validateIncomplete').hide();



$(document).ready(function () {


    $("#btnLogin").click(function (e) {

        e.preventDefault();
        // Add button animation on click


		var valid = true;
		if ($('#txtUsername').val() == null || $('#txtUsername').val() == "") {
			valid = false;
			$("#txtUsername").focus();
		}

		if ($('#txtPassword').val() == null || $('#txtPassword').val() == "") {
		    valid = false;

			$("#txtPassword").focus();
		}

		//validation logic here , change valid to false if fail
		if (!valid) {
			//return false;
			$('#validateGeneric').hide();
			$('#validationFail').show();
            $('#validateIncomplete').show();
            // Remove Button animation when validation fail
            setTimeout(function () {
                $("#btnLogin").html("Sign in");
            }, 500);

            console.log("not valid");
		}
		else {

		    $("#displayError").html("Logging in... <i class=\"fa fa-spinner fa-spin fa-fw\"></i>");
			$('#validationFail').hide();
			$('#validateIncomplete').hide();
			$('#btnLogin').hide();
			var input = $("#frmLogin").serialize();
			console.log(input);

			//start ajax call
			$("#btnLogin").prop("disabled", true);
			$.ajax({
			    url: loginURL,
				type: "POST",
				data: input,
				dataType: "json",
				beforeSend: function() {$('#btnLogin').hide();},
				traditional: true,
				success: function (data) {
					if (!data.IsSuccess) {
						$("#btnLogin").prop("disabled", false);
						//showErrorDiv(data.ErrorMessage);
						$("#displayError").html(data.ErrorMessage);
						$('#btnLogin').show();
                        setTimeout(function () {
                            $("#btnLogin").html("Sign in");
                        }, 500);
                        //alert('BOBO');
					} else {
					    //alert('GOTYA');
					    //if (data.RoleID == 1) {
					    //    window.location = window.landingPageURLMontech;
					    //} else {
					    //    window.location = window.landingPageURL;
					    //}
					  window.location = window.landingPageURL;

					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
					$("#btnLogin").prop("disabled", false);
				    //showErrorDiv(errorThrown);
					$("#displayError").html(data.ErrorMessage);
                    setTimeout(function () {
                        $("#btnLogin").html("Sign in");
                    }, 500);
				},
			});
		}
	});

	$('#Username').on('keydown', function (e) {
		if (e.which == 13) {
			e.preventDefault();
			$("#btnLogin").click();
		}
	});

	$('#Password').on('keydown', function (e) {
		if (e.which == 13) {
			e.preventDefault();
			$("#btnLogin").click();
		}
	});

});

function showErrorDiv(errorMessage) {
	$('#validationFail').show();
	$('#validateGeneric').html(errorMessage);
	$('#validateGeneric').show();
}

function loadRegistration() {
	$.ajax({
		url: registerURL,
		success: function (data) {
			$('#pageContent').html(data);
			$('#validationFail').hide();
			$('#validateIncomplete').hide();
			document.title = "Sign Up - Computer Engineering Database System";
		},
		error: function () {
		}
	});
}

function checkInput() {
    $("#btnSignUp").html("Registering Account... <i class=\"fa fa-spinner fa-spin fa-fw\"></i>");

	$("#btnSignUp").prop("disabled", true);
	var valid = true;
	var signupForm = $("#frmSignUp").serialize();

	$.ajax({
		url: saveURL,
		type: "POST",
		data: signupForm,
		dataType: "json",
		traditional: true,
		success: function (data) {
			if (data.Data === '1') {
				$("#btnSignUp").html("Register");
				$("#btnSignUp").prop("disabled", false);
				validationAnimation("#validationContainer1", "", "success", "Registration Successful!");
				clearRegistrationFields()
				//showErrorDiv(data.ErrorMessage);
			}
			else if (data.Data === '2') {
				$("#btnSignUp").html("Register");
				$("#btnSignUp").prop("disabled", false);
				validationAnimation("#validationContainer1", "", "success", "Registration successful but email notification to user failed.");
                clearRegistrationFields();
			}
			else if (data.Data === '3') {
				$("#btnSignUp").html("Register");
				$("#btnSignUp").prop("disabled", false);
				validationAnimation("#validationContainer1", "", "success", "Registration successful but email notification to admin/s failed.");
                clearRegistrationFields();
			}
			else {
				$("#btnSignUp").prop("disabled", false);
				//window.location = window.landingPageURL;
                validationAnimation("#validationContainer1", "", "fail", JSON.stringify(data.Data));
                // Remove Button animation when validation fail
                setTimeout(function () {
                    $("#btnSignUp").html("Register");
                }, 500);
			}
		},
		error: function (jqXHR, textStatus, errorThrown) {
            $("#btnSignUp").prop("disabled", false);
            initReusableModal("Error! ", errorThrown, false, false, undefined, undefined, undefined);
		},
	});
}

function clearRegistrationFields() {
	$('#Username').val("");
	$('#FirstName').val("");
	$('#LastName').val("");
	$('#EmailAddress').val("");
}


</script>