﻿

<div class="login-box" style="max-width:600px">
    <h3 class="text-center">Welcome to Survey Sender</h3>
    <form id="frmLogin" method="post">
        <hr />
        <div class="form-group">
            <label for="txtUsername">Email Address:</label>
            <input type="text" name="UserName" id="txtUsername" required />
        </div>
        <div class="form-group">
            <label for="txtPassword">Password:</label>
            <input type="password" name="Password" placeholder="Password" id="txtPassword" />
        </div>
        <div>
            <div class="requiredMessage color-red text-center" hidden>Please fill out the required fields.</div>
            <p class="text-center" id="displayError"></p>
        </div>
        <div class="form-group" style="padding-bottom: 0;">
            <input type="submit" value="Login" id="btnLogin" />
        </div>
        <br />
        @*<p style="font-size:10pt;color:red;text-align:center">Please do Browser Clear Cache or CTRL + F5</p>*@
    </form>

</div>


<script>
    function redirectToPage() {
        window.location.href = "http://proact.emerson.com/CSATSurveySenderV2/Login";
    }
</script>
