#main {
    &.login {
        background:url('../../../Content/images/hero-commres-smart-thermostat.jpg');
        background-size: cover;
    }
    #preLoader {
        display: none !important;
    }
}

.login-background {
    @extend %flex-center;
    height: calc(100% - 125px); 
    width: 100%;
    z-index: 1;
    position: absolute;
}
.login-box {
    background: #fff;
    padding: 30px;
    max-width: 350px;
    position: absolute;
    z-index: 999 !important;
    box-shadow: 0 1px 7px rgba(0,0,0,0.3);
    border-radius: 3px;
}


.login-box .form-group {
    clear:both;
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

.login-box label {
    border-bottom: 3px solid transparent;
    //display: inline-block;
    float: left;
    margin-top: 20px;
}
.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 2px solid $green;
    padding: 8px 10px 8px 10px;
    width: calc(100% - 112px);
    //display: inline-block;
    height: 40px;
    background: none;
    float: right;
    &:focus {
        border-bottom: 2px solid $navy;
        outline: 0;
    }
}
.login-box input[type="submit"] {
    display: table;
    margin: 0 auto;
    padding: 5px 35px;
    background: $white;
    border: none;
    background: $green;
    color: $white;
    font-size: 20px;
    text-transform:uppercase;
    cursor: pointer;
    animation: all .5s linear;
}
.login-box input[type="submit"]:hover {
    background:$blue;
    animation: all .5s linear;
}

.login-box #displayError {
    margin: 15px auto;
}
//* NEW LOGIN PAGE

.login-background {
    background: rgba(0,0,0,.3);
}

.login-background button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    color: #ff7f26;
}