﻿@model IEnumerable<MVCApp.Models.SendSurveyAdmins>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    /* Zebra striping */
    tr:nth-of-type(odd) {
        background: #eee;
    }

    th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    td, th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    th {
        position: sticky;
        top: 0;
    }

    #table-wrapper {
        position: relative;
    }

    #table-scroll {
        height: 200px;
        overflow: auto;
    }

    #table-wrapper table {
        width: 100%;
    }

        #table-wrapper table thead th .text {
            position: absolute;
            top: -20px;
            z-index: 2;
            height: 20px;
            width: 35%;
            border: 1px solid red;
        }
</style>
<div>
    <div class="table table-responsive">
        <div class="table-header"></div>
        <div id="table-wrapper">
            <div id="table-scroll">
                <table class="cell-border">
                    <thead>
                        <tr>
                            <th>Fullname</th>
                            <th>Email</th>
                            <th>Group</th>
                            <th>Registered By</th>
                            <th>Date Registered</th>
                            <th>Status</th>
                            <th style="text-align:center;" colspan="2">Action</th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.FullName
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                @if (item.GroupID == 1)
                                {
                                    <td>
                                        Inside Sales
                                    </td>
                                }
                                else if (item.GroupID == 2)
                                {
                                    <td>
                                        Customer Service
                                    </td>
                                }
                                else if (item.GroupID == 3)
                                {
                                    <td>
                                        ProAct
                                    </td>
                                }
                                else if (item.GroupID == 5)
                                {
                                    <td>
                                        Technical Group
                                    </td>
                                }
                                else if (item.GroupID == 6)
                                {
                                    <td>
                                        Customer Success
                                    </td>
                                }
                                else if (item.GroupID == 7)
                                {
                                    <td>
                                        Data Analytics
                                    </td>
                                }
                                else if (item.GroupID == 8)
                                {
                                    <td>
                                        Field Project Services
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        AES
                                    </td>
                                }
                                <td>
                                    @item.RegisteredBy
                                </td>
                                <td>
                                    @item.DateRegistered.ToString("MM/dd/yyyy")
                                </td>
                                <td style="text-align:center">
                                    @item.Status
                                </td>
                                <td>
                                    <button class="button-15" style="background-image: linear-gradient(green, green);border: red;" onclick="editGroupInfo(@item.UserID, '@item.Email', @item.GroupID)" role="button">Edit Group Info</button>
                                </td>
                                <td>
                                    <button class="button-15" style="background-image: linear-gradient(orange, red);border: red;" onclick="manageUserAdmin(1,@item.UserID)" role="button">Remove Admin</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
