﻿@model MVCApp.Models.ServiceRecoveryModel

<style>

      .modal-header {
        border-bottom: none;
        padding: 15px 15px 0 15px;
        height: 150px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        /*font-size: 22px;*/
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border: 1px solid #555;

    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }


</style>

<div class="modal" id="Editform-modal">
    <div class="modal" role="dialog">
        <div class="modal-dialog modal" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-image: url(@ViewBag.ModalHeader);">
                    @*<h5 class="modal-title" id=""></h5>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
                    <div id="detailsHTML">
                        <br />
                        <br />
                 
                        <label for='dateReceived'>Date Received *:</label>
                        <input type="date" id="dateReceived" class="full-width" value="@Model.DateReceived">
                        <br />
                        <br />
                        <label for='customer'>Customer:</label>
                        <input type="text" class='full-width' name="customer" id="customer" value="@Model.Customer">
                        <br />
                        <br />
                        <label for='contactName'>Contact Name:</label>
                        <input type="text" class='full-width' name="contactName" id="contactName" value="@Model.ContactName">
                        <br />
                        <br />
                        <label for='customer'>Detractor (CSAT, CES, Both)*:</label>
                        <select id="detractor" value="@Model.Detractor">
                            <option value="0">-Select Detractor-</option>
                            <option value="CSAT">CSAT</option>
                            <option value="CES">CES</option>
                            <option value="BOTH">CSAT & CES</option>
                        </select>

                        <br />
                        <br />
                        <label for='issueRaised'>Issue Raised*:</label>
                        <input type="text" class='full-width' name="IssueRaised" id="issueRaised" value="@Model.IssueRaised">
                        <br />
                        <br />
                        <label class="container">
                            Approved Callback/Service Recovery?
                            <input id="approvedServiceRecovery" type="checkbox" onchange="validateAttemptMade()">
                            <span checked class="checkmark"></span>
                        </label>
                        <br />
                        <br />

                        <div id="isApprovedServiceRecoveryYes">
                           
                            <label class="container">
                                Service Recovery Attempt Made?
                                <input id="serviceRecoveryAttemptMade" type="checkbox" onchange="validateServiceRecoveryMade()">
                                <span checked class="checkmark"></span>
                            </label>
                            <br />
                            <br />

                            <div id="isServiceRecoveryAttemptMadeYes">
                                <label for='dateContact'>Date of Contact:</label>
                                <input type="date" id="dateContact" class="full-width">
                                <br />
                                <br />
                                <label for='contactedBy'>Contacted By:</label>
                                <input type="text" id="contactedBy" class="full-width">
                                <br />
                                <br />
                                <label class="container">
                                    Successfull Attempt to Contact?
                                    <input id="successAttemptContact" type="checkbox">
                                    <span checked class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <br />
                        <br />

                        <label class="container">
                            Is there effort to address issue raised?
                            <input id="isThereEffortIssueRaised" type="checkbox">
                            <span checked class="checkmark"></span>
                        </label>
                        <br />
                        <br />

                        <label for='resolution'>Resolution:</label>
                        <select id="resolution">
                            <option value="0">-Select Resolution-</option>
                            <option value="1">Completed - Invalid Detractor</option>
                            <option value="2">Completed - No Sufficient Information</option>
                            <option value="3">Completed - Reviewed/Updated Counter Measure</option>
                            <option value="4">Completed - Created RCCM/CAR</option>
                        </select>

                        <br />
                        <br />

                        <label for='remarks'>Remarks:</label>
                        <textarea type="text" class='full-width' name="remarks" id="remarks"></textarea>
                        <br />
                        <br />
                        <label class="container" id="isServiceRecoveryWithinTarget">
                            Service Recovery Attempt within Target? <span><i style="color:red;font-size:10px">(within 48hrs upon receipt of Detractor Notification)</i></span>*
                            <input id="serviceRecoveryWithinTarget" type="checkbox">
                            <span checked class="checkmark"></span>
                        </label>
                        <br />
                        <br />

                        <div class='cta-buttons' style='margin-top: 25px;'>
                            <a class='btn btn-primary btn-arrow' href='#' id="_btnUpdateSR" onclick="updateServiceRecovery(@Model.ID)">
                                <span><span class='text-wrapper'>Update</span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/page/home/serviceRecovery.js"></script>

<script>
    function loadEditables() {
        $("#detractor").val('@Model.Detractor').change();
        var dateReceived = new Date('@Model.DateReceived').toISOString().split('T')[0];
        $("#dateReceived").val(dateReceived);
        $("#approvedServiceRecovery").prop("checked", @Model.IsApprovedCallBackService.ToString().ToLower());
        if(@Model.IsApprovedCallBackService.ToString().ToLower() === true)
        {
            $("#approvedServiceRecovery").trigger("change");
        }

        $("#serviceRecoveryAttemptMade").prop("checked", @Model.ServiceRecoveryAttemptMade.ToString().ToLower());
        if(@Model.ServiceRecoveryAttemptMade.ToString().ToLower() === true){
            validateServiceRecoveryMade();
            $("#serviceRecoveryAttemptMade").trigger("change");
            dateContact
            var dateContact = new Date('@Model.DateOfContact').toISOString().split('T')[0];
            $("#dateContact").val(dateContact);
            $("#contactedBy").val('@Model.ContactedBy');
            $("#successAttemptContact").prop("checked", @Model.SuccessfulAttemptToContact.ToString().ToLower());

        }
        $("#isThereEffortIssueRaised").prop("checked", @Model.IsThereEffort.ToString().ToLower());
        $("#resolution").val('@Model.ResolutionID').change();
        $("#remarks").val('@Model.Remarks').change();
        debugger;
        $("#serviceRecoveryWithinTarget").prop("checked", @Model.ServiceRecoveryWithinTarget.ToString().ToLower());
    }

    $(document).ready(function () {
        $('#preLoader').hide();
        disabledFields();
        loadEditables();
    });

</script>



