//* JUMP NAVIGATION *//
.jump-nav .navbar-nav li {
	a {
		border-bottom: 4px solid transparent;
		transition: .25s border linear;
		-webkit-transition: .25s border linear;
		-moz-transition: .25s border linear;
	}
	&.active {
		a {
			border-bottom: 4px solid #FFF;
		}
	}
}

//* TABS C016 *//
.C016-horizontal-tabs .tabs-header a {
    border-bottom: 5px solid transparent;
    &.selected {
        border-bottom: 5px solid $green;
    }
}
@media (max-width: 768px) {
    .C016-horizontal-tabs .navbar-nav {
        margin: 0
    }
}
@media (min-width: 1280px) {
    .global-header .sub-nav.commercial-sub-nav .products ul {
        float: none;
        width: 100%;

    }
    .global-header .main-nav>li {
        position: relative;
    }
    .global-header .sub-nav.commercial-sub-nav {
        width: 200px;
        max-height: 500px;
        overflow-y: auto;
    }

    .global-header .sub-nav.commercial-sub-nav .products:after {
        background-color: none;
    }
    .global-header .main-nav .sub-nav {
        min-height: auto;
    }

}

/* C025 Custom */
.C025-video-carousel .cm-teasable__headline {
    color: #2d383f;
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.500em;
    text-align: left;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    max-height: 4.5em;
    line-height: 1.500em;
}

/* C027 Table + DataTable*/
.C027-table .dataTable tr:first-child td {
    border-bottom-color: transparent;
}

.C027-table .dataTable td {
    border-bottom: 1px solid transparent;
}

/* CEMs */
.gray-background {
    background: #f0f0f0 !important;
}

/* C026 with Single Video fullwidth*/ 
.C026-case-study-carousel.C026-single-video .item,
.C026-case-study-carousel.C026-single-video .cm-carousel,
.C026-case-study-carousel.C026-single-video .cm-carousel-inner {
    height: auto;
}

.C026-case-study-carousel.C026-single-video .video-container {
    width: 100%;
    float: none;
}

/** C031 **/
.C031-text-left-cta-right img {
    float: left;
    margin: 10px;
    position: relative;
}

.C031-text-left-cta-right .p1 {
    display: flex;
    align-items: center;
}

.C016-horizontal-tabs .separator-bar {
    background-color: silver !important;
}

/** Breadcrumbs **/
.breadcrumb-list a {
    color: $warmgrey;
    &:hover {
        color: $green;
    }
}

/** Active Navigation **/ 
.page-product-design .main-nav .project-design > a,
.page-toolkit .main-nav .toolkit > a,
.page-trainingandeducation .main-nav .trainingandeducation > a,
.page-product-videos .main-nav .trainingandeducation > a,
.page-training-calendar .main-nav .trainingandeducation > a,
.page-my-training-dashboard .main-nav .my-training-dashboard > a,
.page-about .main-nav .about > a,
.page-contact .main-nav .contact > a,
.page-partnerplus-centers .main-nav .contact > a,
.page-project-proposal-form .main-nav .project-design > a {
    color: $green;
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 18px;
        background-color: #00aa7e;
    }
}

.page-partnerplus-centers .main-nav .partnerplus-centers > a,
.page-product-videos .main-nav .product-videos > a,
.page-project-proposal-form .main-nav .project-proposal-form > a {
    color: $green;
}